* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c2627;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#pixel-container {
  display: flex;
  box-sizing: content-box;
  border: 1px solid white;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
}
.pixel {
  border: 1px solid black;
  background-color: #30484a;
}

.pixel-hovered {
  background-color: #527c81;
}

#buttons button {
  background-color: #b3eae3;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin-inline: 8px;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-bottom: 20px;
}

#buttons button:hover {
  background-color: #8bd4cb;
  color: #2c5777;
}

#buttons button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
